@{
  Layout="Shared/_Layout.cshtml";
}

<div id="new">


  <h2>Your contact:</h2>
<ul>
  <li>@Model.GetName()</li>
  <ul>
    <li>Phone: @Model.GetPhone()</li>
    <li>Address: @Model.GetAddress()</li>
    <li><img src="@Model.GetPhoto()" alt ="@Model.GetName()'s photo"></a></li>
  </ul>
</ul>

<form action="/contact/@Model.GetId()/deleted" method="post">
<button type="submit" name="button">Delete this contact</button>
</form>
  <p><a href="/">View all contacts</a></p>
</div>
